
 {% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock title %}

{%block main-content %}


{% if filter_brand %}

<section>
    <div class="mb-5 footerclass container">
        <h3 class="text-center">models</h3>
            <div class="category-main  ">
                <div class="categoriesfooter flex-wrap justify-content-center;">
                    {% for product in filter_brand %}
                    <a href="{% url 'filter_phone' product.id %}">  
                        <div class="dd ">
                            <img src="{{product.sub_category_image.url}}" alt="itcity">
                            <p class="fw-bold">{{product.sub_categoryname}}</p>
                        </div>
                    </a>
                    {% endfor %}
            
                </div>
            </div>
    </div>
 </section>

 {% endif %}



 {% if mobile_phones %}

 <section>
     <div class="mb-5 footerclass container">
         <h3 class="text-center">Phones</h3>
             <div class="category-main  ">
                 <div class="categoriesfooter flex-wrap justify-content-center;">

                    {% for product in mobile_phones %}
                     <a href="{{ product.get_url }}">  
                         <div class="dd ">
                             <img src="{{product.images.url}}" alt="itcity">
                             <p class="fw-bold">{{product.product_name}}</p>
                     </a>
                     {% endfor %}
                 
                 </div>
             </div>
     </div>
  </section>

 
  {% endif %}



  {% if veiw_all_category %}
  <section>
      <div class="mb-5 footerclass container">
          <h3 class="text-center">Phones</h3>
              <div class="category-main  ">
                  <div class="categoriesfooter flex-wrap justify-content-center;">
 
                     {% for product in veiw_all_category %}
                      <a href="{% url 'filter_brand' product.id %}">  
                          <div class="dd ">
                              <img src="{{product.category_image.url}}" alt="itcity">
                              <p class="fw-bold">{{product.category_name}}</p>
                      </a>
                      {% endfor %}
                  
                  </div>
              </div>
      </div>
   </section>
 
  
   {% endif %}


{%endblock main-content%} 